@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
:root {
    --bg-dark: brown;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: lightgray;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #BABABA;
}

.containner-header {
    max-width: 1080px;
    max-height: 10vh;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.bg-dark {
    flex:0 1 100px;
    background-color: var(--bg-dark);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.options {
    flex: 0 1 auto;
}

.button {
    padding: 0.25rem 0.5rem;
    border: solid 1px black;
    background-color: white;
    margin: 0 .5rem;
}

.containner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1%;
    background-color: lightgray;
    min-height: 90vh;
    display:grid;
    place-items: center;
}

.grid {
    display: grid;
    gap: 1.5px;
    width: 100%;
    justify-content:center;
}

.item {
    background-color: #C0C0C0;
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
}
.item.y0{
    border-left-color: #7B7B7B;
}

.item::before{
    content:'';
    display:block;
    padding-bottom: 100%;
}

.item.close:hover {
    background-color: hsl(0, 0%, 55%);
    border: 1.5px solid;
    border-top-color: #7B7B7B;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #7B7B7B;
}

.item.marked::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\1f6a9";
}

.item.bomb {
    cursor: not-allowed;
}

.item.open {
    background-color: hsl(0, 0%, 80%);
    border: none;
    cursor: not-allowed;
    box-shadow: 0 0 1px 1px gray;
}

.item.bomb::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\1f4a3";
}

.timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem
}