@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
:root {
    --bg-light: hsl(0, 0%, 83%);
    --bg-dark: hsl(0, 0%, 73%);
    --ideal-viewport-width: 1000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-size: calc(16 * (clamp(420px, 100vw, 1500px) / var(--ideal-viewport-width)))
}

body {
    background-color: var(--bg-light);
    min-height: 100vh;
}

header {
    width: 100%;
    min-width: 420px;
    background-color: var(--bg-dark);
}

.containner-header {
    max-width: 1080px;
    max-height: 10vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.containner-header>div::before {
    content: '';
    width: 15px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #BABABA;
    border-bottom-right-radius: 100% 30%;
}

.containner-header>div::after {
    content: '';
    width: 15px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #BABABA;
    border-bottom-left-radius: 100% 30%;
}

.bg-light {
    flex: 0 1 150px;
    background-color: var(--bg-light);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}
.bg-light > *{
    padding-top: .3rem;

}
.bg-light > *:last-child {
    padding-bottom: .3rem;
}

.small-text {
    display: block;
    color: hsl(0, 0%, 40%);
    margin-top: .25em;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
}

.containner {
    max-width: 1080px;
    min-width: 420px;
    margin: 0 auto;
    padding: 1%;
    min-height: 90vh;
    display: grid;
    place-items: center;
}

.grid {
    display: grid;
    gap: calc(1.5* (clamp(420px, 100vw, 1080px) / 1080));
    width: 100%;
    justify-content: center;
    font-size: calc(16* (clamp(420px, 100vw, 1080px) / 1080));
}

.item {
    background-color: #C0C0C0;
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.y0 {
    border-left-color: #7B7B7B;
}

.item::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.item.close:hover {
    background-color: hsl(0, 0%, 55%);
    border: 1.5px solid;
    border-top-color: #7B7B7B;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #7B7B7B;
}

.item.marked::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\1f6a9";
}

.item.bomb {
    cursor: not-allowed;
}

.item.open {
    background-color: hsl(0, 0%, 80%);
    border: none;
    cursor: not-allowed;
    box-shadow: 0 0 1px 1px gray;
}

.item.bomb::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\1f4a3";
}

.overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6D00;
    transition: background-color 500ms, font-size 500ms;
  }
  
  .overlay-text-small {
    font-size: .3em;
  }
  
  .overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
  }

  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 10em;
    }
  }